{% extends 'partials/base.html' %}
{% block title %}Order Page{% endblock %}

{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Total Quantity Ordered</th>
                    <th scope="col">Quantity to Prepare for Next Month</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.total_ordered }}</td>
                    <td>{{ product.total_ordered }}</td>  {# Example: Multiply by 2 for preparation for next month #}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
